.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/rBiopaxParserVignette.aux
vignettes/rBiopaxParserVignette.log
vignettes/rBiopaxParserVignette.out
vignettes/rBiopaxParserVignette.pdf
vignettes/rBiopaxParserVignette.tex
vignettes/rBiopaxParserVignette.toc