export(addBiochemicalReaction)
export(addBiopaxInstance)
export(addBiopaxInstances)
export(addControl)
export(addhash)
export(addns)
export(addPathway)
export(addPathwayComponents)
export(addPhysicalEntity)
export(addPhysicalEntityParticipant)
export(addPropertiesToBiopaxInstance)
export(calcGraphOverlap)
export(CLASS_INHERITANCE)
export(CLASS_PROPERTIES)
export(createBiopax)
export(diffGraphs)
export(downloadBiopaxData)
export(generateNewUniqueID)
export(getClassProperties)
export(getInstanceClass)
export(getInstanceProperty)
export(getNeighborhood)
export(getReferencedIDs)
export(getReferencingIDs)
export(getSubClasses)
export(getSuperClasses)
export(getXrefAnnotations)
export(hasProperty)
export(internal_checkArguments)
export(internal_propertyListToDF)
export(intersectGraphs)
export(isOfClass)
export(isOfNamespace)
export(layoutRegulatoryGraph)
export(listComplexComponents)
export(listInstances)
export(listPathwayComponents)
export(listPathways)
export(mergePathways)
export(pathway2AdjacancyMatrix)
export(pathway2RegulatoryGraph)
export(plotRegulatoryGraph)
export(readBiopax)
export(removeInstance)
export(removeProperties)
export(selectInstances)
export(splitComplex)
export(striphash)
export(stripns)
export(transitiveClosure)
export(transitiveReduction)
export(unfactorize)
export(uniteGraphs)
export(writeBiopax)
S3method(print,biopax)
