export(addBiopaxInstance)
export(addBiopaxInstances)
export(addhash)
export(addInteraction)
export(addns)
export(addPathway)
export(addPathwayComponents)
export(addPropertiesToBiopaxInstance)
export(checkValidity)
export(diffGraphs)
export(downloadBiopaxData)
export(generateNewUniqueID)
export(getBiopaxInstancesByID)
export(getBiopaxInstancesByName)
export(getBiopaxInstancesByType)
export(getBiopaxInstancesList)
export(getClassProperties)
export(getInstanceClass)
export(getInstanceProperties)
export(getNeighborhood)
export(getPathway)
export(getPathwayComponentList)
export(getPathwayComponents)
export(getPathwayList)
export(getPathways)
export(getReferencedIDs)
export(getReferencedInstances)
export(getSubClasses)
export(getSuperClasses)
export(hasProperty)
export(internal_checkArguments)
export(internal_generateXMLfromBiopax)
export(internal_getBiopaxModelAsDataFrame)
export(internal_NrOfXMLNodes)
export(internal_propertyListToDF)
export(internal_XMLInstance2DF)
export(intersectGraphs)
export(isOfClass)
export(isOfNamespace)
export(layoutRegulatoryGraph)
export(listBiopaxNodes)
export(pathway2AdjacancyMatrix)
export(pathway2RegulatoryGraph)
export(plotRegulatoryGraph)
export(readBiopax)
export(splitComplex)
export(striphash)
export(stripns)
export(summary_biopax)
export(transitiveClosure)
export(transitiveReduction)
export(unfactorize)
export(uniteGraphs)
export(writeBiopax)
