export(addBiochemicalReaction)
export(addBiopaxInstance)
export(addBiopaxInstances)
export(addControl)
export(addPathway)
export(addPathwayComponents)
export(addPhysicalEntity)
export(addPhysicalEntityParticipant)
export(addPropertiesToBiopaxInstance)
export(calcGraphOverlap)
export(CLASS_INHERITANCE_BP2)
export(CLASS_INHERITANCE_BP3)
export(CLASS_PROPERTIES_BP2)
export(CLASS_PROPERTIES_BP3)
export(colorGraphNodes)
export(combineNodes)
export(createBiopax)
export(DATABASE_BIOPAX)
export(diffGraphs)
export(downloadBiopaxData)
export(generateNewUniqueID)
export(getClassProperties)
export(getInstanceClass)
export(getInstanceProperty)
export(getNeighborhood)
export(getReferencedIDs)
export(getReferencingIDs)
export(getSubClasses)
export(getSuperClasses)
export(getXrefAnnotations)
export(hasProperty)
export(intersectGraphs)
export(isOfClass)
export(layoutRegulatoryGraph)
export(listComplexComponents)
export(listInstances)
export(listInteractionComponents)
export(listPathwayComponents)
export(listPathways)
export(mergePathways)
export(pathway2AdjacancyMatrix)
export(pathway2Geneset)
export(pathway2RegulatoryGraph)
export(plotRegulatoryGraph)
export(readBiopax)
export(removeInstance)
export(removeNodes)
export(removeProperties)
export(selectInstances)
export(splitComplex)
export(transitiveClosure)
export(transitiveReduction)
export(uniteGraphs)
export(writeBiopax)
S3method(print,biopax)
